
/* light theme*/
:root {
    --font-color: #000000;
    --background-color: #ffffff;
}

[data-theme="dark"] {
    --font-color: #ffffff;
    --background-color: #111111;
}

/* values dependent on theme */

body {
    background-color: var(--background-color);
   color: var(--font-color);
}


/* Creating the theme toggler */

.toggle-theme-wrapper {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width:150px;
    
}

/* the icon for each theme */
.toggle-theme-wrapper span {
    font-size: 20pt;
    bottom: 2.5px;
}


.toggle-theme {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 50px;
    background-color: pink;
    border-radius: 15px;
}

.toggle-theme input {
    display: none;
}

.slider:before {
    background-color: aqua;
    bottom: 2.5px;
    content: "";
    height: 15px;
    left: 5px;
    position: absolute;
    transition: 0.5s;
    width: 15px;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

input:checked + .slider {
    height: 10px;
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}