

/* TYPOGRAPHY */

/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway&display=swap');

h1 {
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

h4 {
  font-family: 'Merriweather', serif;
}

h5 {
  font-family: 'Merriweather', serif;
}

h6 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Raleway', sans-serif;
}


