

/* TYPOGRAPHY */

/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway&display=swap');

h1 {
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

h4 {
  font-family: 'Merriweather', serif;
}

h5 {
  font-family: 'Merriweather', serif;
}

h6 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

/* Home */

.Hero-home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0f3325;
}

.Hero-text {
  color: white;
  text-align: left;
}

.Hero-text h1 {
font-size: 42pt;
}

.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #576490;
}

.what-i-do {
  margin: auto;
  background-color: white;
  height: 700px;
  width: 80%
}

.column {
  float: left;
  width: 33.33%;
}

.what-i-do:after {
  content: "";
  display: table;
  clear: both;
}